{% extends 'main.html' %}

{% block title %} Shipment {% endblock %}

{% block changeLink %} <a href="/inventory/">Inventory</a> {% endblock %}

{% block content %}
<h1> Shipment </h1>
<form action="/shipment/" id="shipment-form" method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <label for="Name">Name</label>
    <input id="Name" type="text" name="Name" required/>
    {% for item in itemList %}
        <label for="{{item.name}}">{{item.name}}</label>
        <input id="{{item.name}}" type="number" name="{{item.name}}" value="0" required/>
        Available quantity: {{item.quantity}}<br/>
    {% endfor %}
    <input type="submit" />
</form><hr/>

    {% for shipment in shipmentList %}
        {{shipment.name}}
        {% for item in shipment.items %}
            {{ item.item.name }}, {{item.quantity}}
        {% endfor %}</hr>
    {% endfor %}

{% endblock %}